/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 7, 2023, 1:28:34 PM
    Author     : acer
*/

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}
.back {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.back i {
    margin-right: 5px;
}

.back a {
    text-decoration: none;
    color: black;
}
.file-input-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: #f1f1f1;
    color: #555555;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.file-input-wrapper input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.file-input-wrapper span {
    display: inline-block;
    vertical-align: middle;
}

.file-input-wrapper:hover {
    background-color: #dddddd;
}

.file-input-wrapper:active {
    background-color: #bfbfbf;
}