/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 18, 2023, 4:38:35 PM
    Author     : acer
*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Use a value that suits your layout, but make it higher than the icons. */
}
#slider{
    padding-top: 100px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    /*border: 1px solid black;*/
}

.gradient {
    background: rgb(51,30,69);
    background: linear-gradient(90deg, rgba(51,30,69,1) 0%, rgba(93,55,126,1) 100%);

}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.glass::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-logo img {
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: right top;
    border: 2px solid white;
}

.header-search {
    display: flex;
    justify-content: center;
}

.searchBar {
    width: 130%;
}

.search-text {
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
}

.search-button {
    font-size: 20px;
    border-top-right-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
    text-align: left;
}

.header,
.user-interact {
    display: flex;
    align-items: center;
}

.header {
    background: #59C173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    height: 70px;

}


.user-interact
{
    justify-content: flex-end;
}

.user-no_login {
    font-size: 30px;
    color: white;
}

.aside-left {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer{
 padding-bottom: 15vh;
}

.ava-content img{
    padding: 0 0 0 0;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    width: 65px;
    height: 65px;
    margin-left: 10%;
    margin-top: 2%;
    object-position: right top;
    border: 2px solid black;
}


.navbar-list {
    width: 100%;
}

.navbar-list ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-list li {
    display: block;
}

.navbar-list a {
    text-decoration: none;
    color: rgb(37, 37, 37);
}

.aside-right {
    height: calc(100vh -100px);
}
.content-avataricon{
    float: right;
    font-size: 50px;
}

.content-accountnameandname{
    display: flex;
}

.content-accountname{
    margin-right: 10px;
    font-weight: bold;
    margin-bottom: 0;
}
.content-username{
    margin-top: 2px;
    margin-bottom: 0;
}
.content-soundname{
    font-style: italic;
    margin-bottom: 0;
}
.content-musicicon{
    font-style: italic;
    margin-right: 5px;
}
.content-videoandreact{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-maincontent{
    margin-top: 25px;
}
.content-video {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content-btnlike {
    background-color: lightgrey;
    color: #000;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Use a value lower than the header's z-index. */
}
.heart-icon {
    font-size: 25px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.like-count{
    font-size: 15px;
    line-height: 16px;
    text-align: center;
}


.recommend-video {
    padding: 10px;
    /*background-color: blue;*/
    border-radius: 10px;
}

.recommend-video-item video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
}

.recommend-video-avatar img {
    border-radius: 50%;

    width: 30px;
    height: 30px;
    object-fit: cover;
}

.recommend-video-content-status1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;
    max-width: calc(100%);
    overflow: hidden;
    text-overflow: ellipsis;

}

.muted {
    display: none;  
}

.btn{
    border: 1px solid rgba(255, 255, 255, 0.3);
     color: white;
}
.btn:hover{
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.user-interact {
    display: flex;
    align-items: center;
}
btn-setting{
    border: 1px solid rgba(255, 255, 255, 0.3);
     color: white;
}
.btn-setting:hover{
    border: 1px solid rgba(255, 255, 255, 0.3);
}
